* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: #F25949;

    display: flex;
    justify-content: space-between;

    padding: 15px;
}

header img {
    height: 36px;
    width: auto;
}

.group {
    display: flex;
    gap: 5px;
}

section.one {
    background-image: url("/img/london.jpg");

    width: 100%;
    height: 550px;

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    height: auto;
    width: 900px;
}

.row {
    background-color: black;

    display: flex;
    justify-content: space-evenly;

    padding: 8px;
}

.row img {
    height: 15px;
    width: auto;

    margin-right: 0.5em;
}

.conteudo {
    background-color: white;
    color: black;

    padding: 15px;
}

.titulo {
    font-size: 25px;
    color: black;

    margin-bottom: 25px;
}

.lado {
    display: flex;
    gap: 30px;

    font-size: 19px;
}

.lado input {
    padding: 4px;

    border-width: 1.5px;
    width: 400px;
    height: 30px;

    border-color: #d9d9d9;

    outline: none;
}

.coluna {
    display: flex;
    flex-direction: column;
}


.botao {
    margin-top: 25px;
}

button {
    background-color: #858585;
    color: white;

    border: none;

    padding: 10px 15px;
}

button:hover {
    background-color: #6b6b6b;
    transition: 0.6s;

    cursor: pointer;
}

section.two {
    padding: 30px 30px;
}

p {
    margin-bottom: 10px;
}

.imgs {
    color: white;  

    display: flex;
    gap: 50px;
}

.left {
    background-image: url("/img//cinqueterre.jpg");

    width: 1100px;
    height: 520px;

    display: flex;
    align-items: flex-end;
}

.right {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pad {
    padding: 15px;

    cursor: pointer;
}

.pad:hover {
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.img1 {
    background-image: url("/img/newyork.jpg");

    width: 300px;
    height: 250px;

    display: flex;
    align-items: flex-end;
}

.img2 {
    background-image: url("/img/sanfran.jpg");
    
    width: 300px;
    height: 250px;

    display: flex;
    align-items: flex-end;
}

.img3 {
    background-image: url("/img/pisa.jpg");
    
    width: 300px;
    height: 250px;

    display: flex;
    align-items: flex-end;
}

.img4 {
    background-image: url("/img/paris.jpg");
    
    width: 300px;
    height: 250px;

    display: flex;
    align-items: flex-end;
}